.idea/
logs/
node_modules/
mongodb/
src/main/javascript/node_modules/
src/main/javascript/build/
src/main/javascript/build2/
src/main/webapp/WEB-INF/static/dist/js/
src/main/resources/config.xml
*.swp
*.swo
*.cmd
*.log
target/
*.iml
