<!--<div class="row stigmod-clickedit-root" stigmod-clickedit-case="title">-->
  <!--<div class="col-xs-8" id="stigmod-classname">-->
    <!--<span class="stigmod-keepinline">-->
      <!--<span class="glyphicon glyphicon-th-large" id="stigmod-classname-icon"></span>-->
      <!--<span id="stigmod-classname-title">CLASS</span>-->
      <!--<span> |&nbsp;</span>-->
    <!--</span>-->
    <!--<span class="stigmod-clickedit-disp"></span>-->
    <!--<span class="input-group input-group-xs stigmod-clickedit-edit">-->
      <!--<input type="text" class="form-control" stigmod-inputcheck="class-modify" value="" placeholder="">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>-->
        <!--<button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>-->
      <!--</span>-->
    <!--</span>-->
  <!--</div>-->
  <!--<div class="col-xs-4">-->
    <!--<div class="btn-group pull-right">-->
      <!--<button type="button" class="btn btn-default stigmod-addattrel-trig stigmod-addattrel-last">-->
        <!--<span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" data-original-title="Add a new attribute"></span>-->
      <!--</button>-->
      <!--<button type="button" class="btn btn-default stigmod-clickedit-btn-edit">-->
        <!--<span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="left" data-original-title="Edit class name"></span>-->
      <!--</button>-->
      <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
          <!--<span class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="left" data-original-title="Configurations"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
          <!--<li><a href="#" class="stigmod-remove-trig">Delete this class</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<hr class="stigmod-hr-narrow"/>-->
<!--<div id="stigmod-cont-right">-->
  <!--&lt;!&ndash; 属性 &ndash;&gt;-->
  <!--<div class="panel-heading">-->
    <!--<p id="stigmod-attr-title"><span class="fa fa-book"></span>&nbsp; ATTRIBUTE</p>-->
  <!--</div>-->
  <!--&lt;!&ndash; template Middle &ndash;&gt;-->
  <!--<div class="list-group">-->
    <!--<div class="list-group-item text-center stigmod-cursor-pointer stigmod-addattrel-trig stigmod-addattrel-last">-->
      <!--<a>Add a New Attribute</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<div class="row">
<div class="col-xs-12" id="stigmod-rcmd-rcmd">
<span class="glyphicon glyphicon-fire"></span>
<span>RECOMMENDATION</span>
</div>
</div>
<hr class="stigmod-hr-narrow"/>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title stigmod-rcmd-title">CLASS</div>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item stigmod-hovershow-trig" data-container="body" data-toggle="popover" data-trigger="focus" title="Course" data-placement="left" data-html="true" data-content="<p>date : Date</p><p>time : Time</p><p>teacher : String</p><p>place : String number</p><p>Student : int</p>">Courses (Name) <span class="pull-right stigmod-hovershow-cont"><span class="fa fa-magnet"></span>&nbsp;&nbsp;<span class="fa fa-plus" data-toggle="modal" data-target="#stigmod-modal-addclass-disp"></span></span></a>
    <a href="#" class="list-group-item stigmod-hovershow-trig" data-container="body" data-toggle="popover" data-trigger="focus" title="CourseActivity" data-placement="left" data-html="true" data-content="<p>date : Date</p><p>time : Time</p><p>teacher : String</p><p>place : String number</p><p>Student : int</p>">CourseActivity <span class="pull-right stigmod-hovershow-cont"><span class="fa fa-magnet"></span>&nbsp;&nbsp;<span class="fa fa-plus" data-toggle="modal" data-target="#stigmod-modal-addclass-disp"></span></span></a>
    <a href="#" class="list-group-item stigmod-hovershow-trig" data-container="body" data-toggle="popover" data-trigger="focus" title="CourseAvailability" data-placement="left" data-html="true" data-content="<p>date : Date</p><p>time : Time</p><p>teacher : String</p><p>place : String number</p><p>Student : int</p>">CourseAvailability <span class="pull-right stigmod-hovershow-cont"><span class="fa fa-magnet"></span>&nbsp;&nbsp;<span class="fa fa-plus" data-toggle="modal" data-target="#stigmod-modal-addclass-disp"></span></span></a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title stigmod-rcmd-title">ATTRIBUTE</div>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">date</a>
    <a href="#" class="list-group-item">time</a>
    <a href="#" class="list-group-item">teacher</a>
    <a href="#" class="list-group-item">place</a>
    <a href="#" class="list-group-item">numberStudent</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title stigmod-rcmd-title">PROPERTY</div>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">name : teacher</a>
    <a href="#" class="list-group-item">type : String</a>
    <a href="#" class="list-group-item">multiplicity : 1</a>
    <a href="#" class="list-group-item">visiblity : true</a>
  </div>
</div>