<div class="row stigmod-clickedit-root" stigmod-clickedit-case="title">
  <div class="col-xs-8" id="stigmod-classname">
      <span class="stigmod-keepinline">
        <span class="glyphicon glyphicon-th-large" id="stigmod-classname-icon"></span>
        <span id="stigmod-classname-title">CLASS</span>
        <span> |&nbsp;</span>
      </span>
    <span class="stigmod-clickedit-disp"></span>
      <span class="input-group input-group-xs stigmod-clickedit-edit">
        <input type="text" class="form-control" stigmod-inputcheck="class-modify" value="" placeholder="">
        <span class="input-group-btn">
          <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
      </span>
  </div>
  <div class="col-xs-4">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default stigmod-addattrel-trig stigmod-addattrel-last">
        <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" data-original-title="Add a new attribute"></span>
      </button>
      <button type="button" class="btn btn-default stigmod-clickedit-btn-edit">
        <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="left" data-original-title="Edit class name"></span>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="left" data-original-title="Configurations"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#" class="stigmod-remove-trig">Delete this class</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="stigmod-hr-narrow"/>
<div id="stigmod-cont-right">
  <!-- 属性 -->
  <div class="panel-heading">
    <p id="stigmod-attr-title"><span class="fa fa-book"></span>&nbsp; ATTRIBUTE</p>
  </div>
  <!-- template Middle -->
  <div class="list-group">
    <div class="list-group-item text-center stigmod-cursor-pointer stigmod-addattrel-trig stigmod-addattrel-last">
      <a>Add a New Attribute</a>
    </div>
  </div>
</div>