<div class="row stigmod-clickedit-root">
  <div class="col-xs-8" id="stigmod-classname">
    <span class="stigmod-keepinline">
      <span class="glyphicon glyphicon-random" id="stigmod-classname-icon"></span>
      <span id="stigmod-classname-title"> RELATION GROUP</span>
      <span> |&nbsp;</span>
    </span>
    <span class="stigmod-clickedit-disp"></span>
  </div>
  <div class="col-xs-4">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default stigmod-addattrel-trig stigmod-addattrel-last">
        <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" data-original-title="Add a new relation"></span>
      </button>
      <button type="button" class="btn btn-default stigmod-clickedit-btn-edit" disabled>
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="left" data-original-title="Configurations"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#" class="stigmod-remove-trig">Delete this relation group</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="stigmod-hr-narrow"/>
<div id="stigmod-cont-right">
  <!-- 属性 -->
  <div class="panel-heading">
    <p id="stigmod-rel-title"><span class="fa fa-book"></span>&nbsp; RELATION</p>
  </div>
  <!-- relation template here -->
  <div class="list-group">
    <div class="list-group-item text-center stigmod-cursor-pointer stigmod-addattrel-trig stigmod-addattrel-last">
      <a>Add a New Relation</a>
    </div>
  </div>
</div>