<div class="row">
  <div class="col-xs-12">
    <h3>What is <span class="stigmod-websitename">Stigmergic-Modeling</span>?</h3>
    <hr />
    <blockquote>
      <p><span class="stigmod-websitename">Stigmergic-Modeling</span> is an online tool used for collaborative groups to create a conceptual model. It is based on UML 2.0 class diagram specifications and stigmergy theory.</p>
    </blockquote>
    <br />
    <h3>How does <span class="stigmod-websitename">Stigmergic-Modeling</span> work?</h3>
    <hr />
    <blockquote>
      <p><span class="stigmod-websitename">Stigmergic-Modeling</span> is short for Stigmergic Modeling. It is an online tool used for collaborative groups to create a conceptual model. This tool is based on UML 2.0 class diagram specifications and stigmergy theory. <span class="stigmod-websitename">Stigmergic-Modeling</span> is short for Stigmergic Modeling. It is an online tool used for collaborative groups to create a conceptual model. This tool is based on UML 2.0 class diagram specifications and stigmergy theory.</p>
    </blockquote>
    <br />
    <h3><span class="stigmod-websitename">Stigmergic-Modeling</span> Glossary</h3>
    <hr />
    <h4>Conceptual Model</h4>
    <blockquote>
      <p>A conceptual model is a model made of the composition of concepts, which are used to help people know, understand, or simulate a subject the model represents. Some models are physical objects; for example, a toy model which may be assembled, and may be made to work like the object it represents.</p>
    </blockquote>
    <h4>Collective Conceptual Model (CCM)</h4>
    <blockquote>
      <p>lalala</p>
    </blockquote>
    <h4>Individual Conceptual Model (ICM)</h4>
    <blockquote>
      <p>lalala</p>
    </blockquote>
    <h4>Stigmergy Theory</h4>
    <blockquote>
      <p>Stigmergy is a mechanism of indirect coordination between agents or actions.The principle is that the trace left in the environment by an action stimulates the performance of a next action, by the same or a different agent. In that way, subsequent actions tend to reinforce and build on each other, leading to the spontaneous emergence of coherent, apparently systematic activity.</p>
      <p>Stigmergy is a form of self-organization. It produces complex, seemingly intelligent structures, without need for any planning, control, or even direct communication between the agents. As such it supports efficient collaboration between extremely simple agents, who lack any memory, intelligence or even individual awareness of each other.</p>
    </blockquote>
    <h4>UML 2.0</h4>
    <blockquote>
      <p>The Unified Modeling Language (UML) is a general-purpose modeling language in the field of software engineering, which is designed to provide a standard way to visualize the design of a system.</p>
      <p>The UML 2.0 major revision replaced version 1.5 in 2005, which was developed with an enlarged consortium to improve the language further to reflect new experience on usage of its features.</p>
    </blockquote>
  </div>
</div>