<form id="remail" method="post">
  <div class="text-center">
    <hr />
    <br />
    <br />

    <p>A confirmation email has been sent to <strong><%= user.mail %></strong>.</p>
    <p>Click on the confirmation link in the email to activate your account.</p>
    <br />

    <div>
      <button type="submit" class="btn btn-default" data-toggle="popover" data-trigger="hover" data-placement="top" title="Please Note:" data-content="New activation link will be sent to your email address. Please use the newest one to activate your account.">
          Click to resend
      </button>
    </div>
    <br />
    <br />

  </div>
</form>

<script src="/src/js/sea/sea.js"></script>
<script>
  seajs.config({
    paths: {
      'js': 'http://<%= host %>:3000/src/js'
    }
  });
  seajs.use('js/app/index');
</script>




