<form class="form-horizontal" method="post">
    <fieldset>
        <legend>SignIn</legend>
        <div class="control-group">
            <label class="control-label" for="mail">Mail Address</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="mail" name="mail">
                <p class="help-block">Click to send a link to your mail. It is used to revise your password</p>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </fieldset>
</form>
