<ul class="nav nav-list" style="position: relative; border:2px solid #d7d7d7; -webkit-border-radius: 4px;min-width: 120px;">
    <li class="nav-header">Project </li>
    <li class="nav-list-1"><a href="javascript:;"><i class="icon-pencil"></i>All</a></li>
    <li class="nav-header">Project Participate</li>
    <li class="nav-list-2"><a href="javascript:;"><i class="icon-pencil"></i>Involved</a></li>
    <li class="nav-list-3"><a href="javascript:;"><i class="icon-pencil"></i>Uninvolved</a></li>
    <!--ul class="nav nav-list">
        <li class="nav-list-4"><a href="javascript:;"><i class="icon-pencil"></i> 公开项目</a></li>
        <li class="nav-list-5"><a href="javascript:;"><i class="icon-pencil"></i> 被邀请项目</a></li>
    </ul-->
    <li class="nav-header">Project Created</li>
    <li class="nav-list-6"><a href="javascript:;"><i class="icon-book"></i>Owned</a></li>
</ul>

