<hr/>
<h2><font color="6B4226"><%=title%></font></h2>
<div class="row-fluid">
    <div class="span4">
        <h3><a href="/jiangsfls@163.com/involve/1234567"> 项目名称</a></h3>
        <p><small>创建时间：xxxx  创建人员：xxxx</small></p>
        <p>一定字数的介绍</p>
        <p><small>邀请人：xxxx</small></p>
    </div>
</div>

