<hr/>
<h2><font color="6B4226">创建项目</font></h2>
<!--此部分由下方内容替代-->
<div class="row-fluid">
    <div class="span4">
        <div class="hero-unit">
            <h4><a href="/jiangsfls@163.com/involve/1234567">创建一个新的项目</a></h4>
        </div>
    </div>
    <div class="span4">
        <h3><a href="/jiangsfls@163.com/involve/1234567"> 项目名称</a></h3>
        <p><small>创建时间：xxxx  创建人员：(用户自己)</small></p>
        <p>一定字数的介绍</p>
        <p><small>项目状态：xxxx  最后修改时间：xxx</small></p>
    </div>
    <div class="span4">
    <h3><a href="/jiangsfls@163.com/involve/1234567"> 项目名称</a></h3>
    <p><small>创建时间：xxxx  创建人员：(用户自己)</small></p>
    <p>一定字数的介绍</p>
    <p><small>项目状态：xxxx  最后修改时间：xxx</small></p>
</div>
</div>
