<!--div class="form-horizontal" style="padding: 0px 35px 0px 40px;"-->
<div class="form-horizontal" style="padding: 0px 0px 0px 0px;">
    <legend class="inline" style="margin-bottom: 5px;text-align: center;font-weight: bold;font-size:16px;">
        <div class="dropdown help-inline">
            <a href="#" id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown" style="color: #000000">Class<b class="caret" style="margin-top: 16px"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop" style="min-width: 50px;">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" style="width: 50px;padding: 0px 10px 0px 10px">delete</a></li>
            </ul>
        </div>
    </legend>
    <div id="icd-class-name">
        <%- partial('icd-element-class',{name:"Class"}) %>
    </div>
    <hr style="margin: 0 0 5px 0;" />
    <div class="accordion" style="margin: 0 0px 5px 0px">
        <!--%- partial('icd-element-attribute') %>
        <!--/div-->
    </div>
    <div>
        <label class='attribute-plus' style="text-align: center;text-align: center"><a>Add Attribute</a></label>
    </div>
    <hr style="margin: 0 0 5px 0;" />
</div>

<script>
    $(function(){
        var count=4;
        $(".icd-element-attribute-add").bind("click",function(){
            var that =$(this);
            count++;
            $.ajax({
                url: '/post/html/icd-element-attribute',
                data: {id:count},
                type: 'post',
                success: function(html)
                {
                    $(that).parent().children(".accordion").append(html);
                }
            });
        });
    });
</script>
