<div class="accordion-group">
    <div class="row-fluid" >
        <div class="span1"></div>
        <div class="span10">
            <label class="control-label-middle">Attribute1</label>
            <p class="controls-text-middle">+ feather : [ n ]</p>
        </div>
    </div>
</div>