<div class="form-horizontal" style="padding-left: 5px;">
    <h5>推荐信息</h5>
    <hr style="margin: 0 0 5px 0;" />
    <p>以下为具体条目内容</p>
    <p>提供详细键弹窗查看具体内容</p>
    <p>提供引用键直接引用</p>

    <p>________</p>
    <p>推荐内容为他的下一级，如</p>
    <p>选中“类”</p>
    <p>显示“推荐信息：类xxx”</p>
    <p>显示“推荐内容为此类可能包含的属性”</p>
</div>
