<div class="accordion-group" style="border: 1px solid #aaaaaa">
    <input type="hidden">
    <div class="row-fluid accordion-heading">
        <div class="span1"></div>
        <div class="span9" style="display: inline;color: #0088cc;">
            <label class="control-label-middle">类</label>
            <p class="controls-text-middle">ID: 33202cb965287629405010004</p>
        </div>
        <div class="span2">
            <input type="radio">
        </div>
    </div>
    <div class="accordion-body" style="display: none;overflow: visible">
        <div class="accordion-inner " style="padding: 0px 0px 0px 0px;">
            <%- partial('icd-model-option-element',{hasSub:1}) %>
        </div>
    </div>
</div>
