<div class="control-group form-horizontal" style="margin: 0 0 0 0;">
    <div class="row row-hover recommend-element" style="margin-left: -20px;">
        <div class="span4">
            <label class="control-label-small"><%= lable %></label>
            <p class="icd-element-revive-2 controls-text-small"><%= name %></p>
        </div>
        <div class="span1-compact" style="display: none">
            <span class="add-on remove-input" ><i class="icon-edit attribute"></i></span>
            <% if (hasDelete) { %>
                <span class="add-on remove-input" style="margin-left: 2px" ><i class="icon-trash"></i></span>
            <% } %>
            <!--
            <a class="icd-element-revive-1">修改</a>
            -->
        </div>
    </div>
    <div class="control-sub" style="display:none;">
        <label class="control-label-small"><%= lable %></label>
        <div class="controls-small icd-element-input">
            <input type="text" value= "<%=name%>" class="span3 search-element"  style="background-color: #f7f7f7"  data-provide="typeahead" data-items="10" autocomplete="off">
            <div class="control-sub help-inline" style="display:none;margin-left: -5px;padding-right: 40px">
                <label class="radio inline" style="margin-top: -10px"><input type="radio" value="True" >True</label>
                <label class="radio inline" style="margin-top: -10px"><input type="radio" value="False">False</label>
            </div>
            <div class="btn-group">
                <a href="javascript:;" class="btn btn-primary icd-element-input-submit">Confirm</a>
                <a href="javascript:;" class="btn icd-element-input-cancel">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $(".search-element").typeahead({
            source:function(query, process){
                process(getTypeaHead(statusArray.attributeElem.type));
            },
            menu: '<ul style="min-width:220px" class="typeahead dropdown-menu"></ul>',
            item: '<li style="min-width:220px"><a href="#"></a></li>'
        });
    });
</script>