<div class="form-horizontal">
    <legend style="margin-bottom: 5px;text-align: center;font-weight: bold;font-size:16px;">ConceptDiagram</legend>
    <%- partial('icd-element-classdiagram') %>
    <div class="control-group form-horizontal recommend-element type_cdDescription" style="margin-bottom: 0px">
        <label class="control-label-small" style="width:75px">description</label>
        <p class="icd-element-textarea controls-text-small" style="margin-left: 95px;width:380px" ></p>
        <div class="controls-small" style="display:none;">
            <textarea class="span4" rows="4"></textarea>
            <div class="btn-group">
                <a href="javascript:;" class="btn btn-primary icd-element-textarea-submit">Confirm</a>
                <a href="javascript:;" class="btn icd-element-textarea-cancel">Cancel</a>
            </div>
        </div>
    </div>
    <hr style="margin: 0 0 5px 0;" />
    <!--div>
        <label style="text-align: center;text-align: center"><a>Enroll In Project</a></label>
        <label style="text-align: center;text-align: center"><a>Withdraw From Project</a></label>
    </div-->
</div>