<div class="accordion-group">
    <input type="hidden">
    <div class="accordion-heading">
        <a class="accordion-toggle" style="padding: 0px 0px 0px 0px;">
            <!--data-parent="#accordion2"-->
            <div class="row recommend-attribute" style="margin-left: -20px;">
                <!--div class="span4"-->
                <div class="span5">
                    <label class="control-label-small">attribute</label>
                    <p class="controls-text-small"></p>
                </div>
                <div class="span1-compact" style="display:none;">
                    <span class="add-on remove-input" style="margin-left: 2px" ><i class="icon-zoom-in" title="Detail"></i></span>
                    <span class="add-on remove-input" style="margin-left: 0px" ><i class="icon-plus-sign" title="New Property"></i></span>
                    <span class="add-on remove-input" style="margin-left: 0px" ><i class="icon-trash" title="Delete Attri"></i></span>


                    <span class="add-on remove-input" style="margin-left: 7px" ><i class="icon-plus" title="New Attri"></i></span>
                    <span class="add-on remove-input" style="margin-left: 0px" ><i class="icon-arrow-up" title="Up"></i></span>
                    <span class="add-on remove-input" style="margin-left: 0px" ><i class="icon-arrow-down" title="Down"></i></span>
                </div>
            </div>
        </a>
    </div>
    <div class="accordion-body" style="display: none;overflow: visible">
        <div class="accordion-inner " style="padding: 0px 0px 0px 0px;">
            <%- partial('icd-element',{lable:"name",name:"1",hasDelete:0}) %>
        </div>
    </div>
</div>
</div>

