<div class="control-group">
    <div class="controls" style="margin-left: 90px">
        <p><strong>Choose:</strong>  "Attribute Properties" you want to add</p>
        <div></div>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="type" value="type">type</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="multiplicity" value="multiplicity">multiplicity</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="visibility" value="visibility">visibility</label>
        <div></div>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="default" value="default">default</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="constraint" value="constraint">constraint</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="ordering" value="ordering">ordering</label>
        <div></div>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="uniqueness" value="uniqueness">uniqueness</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="readOnly" value="readOnly">readOnly</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="union" value="union">union</label>
        <div></div>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="subsets" value="subsets">subsets</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="redefines" value="redefines">redefines</label>
        <label class="checkbox inline" style="width: 80px"><input type="checkbox" name="composite" value="composite">composite</label>
    </div>
</div>
