<div class="control-group form-horizontal" style="margin: 0 0 0 0;">
    <div class="row row-hover recommend-element type_relationType">
        <div class="span4">
            <label class="control-label-small" >relationType</label>
            <p class="controls-text-small icd-element-relation-type" ></p>
        </div>
        <div class="span1-compact" style="display: none">
            <span class="add-on remove-input" ><i class="icon-edit"></i></span>
            <span class="add-on remove-input" style="margin-left: 2px" ><i class="icon-trash"></i></span>
        </div>
    </div>
    <div class="control-sub" style="display:none;">
        <label class="control-label-small" >relationType</label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="generalization" checked>
            generalization
        </label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="association">
            association
        </label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="composition">
            composition
        </label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="aggregation">
            aggregation
        </label>
        <div class="btn-group">
            <a href="javascript:;" class="btn btn-primary icd-element-input-relation-type-submit">Confirm</a>
            <a href="javascript:;" class="btn icd-element-input-relation-type-cancel">Cancel</a>
        </div>
    </div>
</div>