<div id ="top">
    <form class="form-horizontal">
        <fieldset>
        </fieldset>
    </form>
</div>

<script>
    window.onload = function(){
        var url = "/"+"<%=user.mail%>" + "/statistic-icd/"+"<%=ccd._id%>";
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            async: true,
            success: function(doc){
                static = doc;
                /*
                $("#top").find("fieldset").children().remove();
                for(var key in static){
                    $("#top").find("fieldset").append(getHtml.lv1(key,static[key]));
                }
                */
                ///*
                static = doc;
                $("#top").children().remove();
                $("#top").append("<p>element,citetimes,count</p>");
                for(var key in static){
                    $("#top").append(getHtml.lv2(key,static[key]));
                }
                $("#top").append(getHtml.lv3());
                //*/
            }
        });
    };
    var total = {};
    getHtml = {
        lv1 : function(name,sub){
            var subHtml = "";
            for(var key in sub){
                subHtml = subHtml + '<div class="control-group" style="margin-bottom: 10px">' +
                        '<label class="control-label"><strong> Cited Times ' + key + ' : </strong></label>' +
                        '<div class="controls" >' +
                        '<p style="margin:5px 0 0 0">'+ sub[key] +'</p>' +
                        '</div></div>'
            }
            var html = "<div id ="+name+">" +
                    '<legend style="background-color: #f5f5f5;margin-bottom: 10px">'+ name +'</legend>' +
                    '<div class="row-fluid" style="margin-bottom: 5px">' +
                    subHtml +
                    '</div>' +
                    "</div>" ;
            return html;
        },
        lv2 :function(name,sub){
            var subHtml = "";
            for(var key in sub){
                subHtml = subHtml + "<p>"+name+","+key+","+sub[key]+"</p>";
                if(total[key] === undefined)   {total[key] = sub[key];continue;}
                total[key] = total[key]+sub[key];
            }
            return subHtml;
        },
        lv3 :function(){
            var subHtml = "";
            for(var key in total){
                subHtml = subHtml + "<p>"+key+","+total[key]+","+key*total[key]+"</p>";
            }
            return subHtml;
        }
    }



</script>
