<div class="control-group form-horizontal" style="margin: 0 0 0 0;">
    <div class="row row-hover recommend-element type_relationType">
        <div class="span4">
            <label class="control-label-small" >关系类型</label>
            <p class="controls-text-small icd-element-relation-type" ></p>
        </div>
        <div class="span1-compact" style="display: none">
            <span class="add-on remove-input" ><i class="icon-edit"></i></span>
            <span class="add-on remove-input" style="margin-left: 2px" ><i class="icon-trash"></i></span>
        </div>
    </div>
    <div class="control-sub" style="display:none;">
        <label class="control-label-small" >关系类型</label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="泛化关系" checked>
            泛化关系
        </label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="关联关系">
            关联关系
        </label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="组成关系">
            组成关系
        </label>
        <label class="radio inline">
            <input type="radio" name="optionsRadios"  value="聚合关系">
            聚合关系
        </label>
        <div class="btn-group">
            <a href="javascript:;" class="btn btn-primary icd-element-input-relation-type-submit">确定</a>
            <a href="javascript:;" class="btn icd-element-input-relation-type-cancel">取消</a>
        </div>
    </div>
</div>
<hr style="margin: 0 0 5px 0;" />