<div class="form-horizontal" style="padding: 0px 0px 0px 0px;" >
    <legend style="margin-bottom: 5px;text-align: center;font-weight: bold">
        关系：详细信息
        <div class="dropdown help-inline">
            <a href="#" id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown"><b class="caret" style="padding-top: 16px"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">delete</a></li>
            </ul>
        </div>
    </legend>
    <div id="icd-relation-name">
        <%- partial('icd-element-relation',{type:"relation",lable:"关系",name1:"xx",name2:"yy"}) %>
    </div>
    <hr style="margin: 0 0 5px 0;" />
    <div class="accordion" style="margin-bottom: 5px">
        <div class="accordion-group">
            <input type="hidden">
            <div class="row accordion-heading" style="margin-left: 0">
                <div class="span3" style="margin-left: 0;display: inline;color: #0088cc;width: 420px">
                    <label class="control-label-small">关系</label>
                    <p class="controls-text-small">bird[1] <>—— wing[2]</p>

                </div>
            </div>
            <div class="accordion-body" style="display: none;overflow: visible">
                <div class="accordion-inner " style="padding: 0px 0px 0px 0px;">
                    <!--%- partial('icd-element-relation-type') %-->
                    <%- partial('icd-element-relation-sub-composition')%>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <input type="hidden">
            <div class="row accordion-heading" style="margin-left: 0">
                <div class="span3" style="margin-left: 0;display: inline;color: #0088cc;width: 420px">
                    <label class="control-label-small">关系</label>
                    <p class="controls-text-small">bird[1] <>—— wing[2]</p>

                </div>
            </div>
            <div class="accordion-body" style="display: none;overflow: visible">
                <div class="accordion-inner " style="padding: 0px 0px 0px 0px;">
                    <!--%- partial('icd-element-relation-type') %-->
                    <%- partial('icd-element-relation-sub-composition')%>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <input type="hidden">
            <div class="row accordion-heading" style="margin-left: 0">
                <div class="span3" style="margin-left: 0;display: inline;color: #0088cc;width: 420px">
                    <label class="control-label-small">关系</label>
                    <p class="controls-text-small">bird[1] <>—— wing[2]</p>

                </div>
            </div>
            <div class="accordion-body" style="display: none;overflow: visible">
                <div class="accordion-inner " style="padding: 0px 0px 0px 0px;">
                    <!--%- partial('icd-element-relation-type') %-->
                    <%- partial('icd-element-relation-sub-composition')%>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label class='relationType-plus' style="text-align: center;text-align: center"><a>添加关系</a></label>
    </div>
    <hr style="margin: 0 0 5px 0;" />
</div>


<script type="text/javascript">
    $(function(){
        $(".relation .accordion-heading").live('click',function(){
            $(this).parent().children(".accordion-body").toggle();
        })
    });
</script>