<div class="hero-unit">
    <h2 style="font-size: 35px">Welcome to the <strong style="font-size: 40px">ConceptDiagram </strong>creative space</h2>
    <p style="margin-bottom: 0px"><div style="display: inline;padding: 0 5px 0 5px">●</div>Used for collaborative groups to create a conceptual model</p>
    <p><div style="display: inline;padding: 0 5px 0 5px">●</div>Based on UML 2.0 class diagram specifications and stigmergy theory</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">Sign In</a>
        <a class="btn btn-large" href="/reg">Register</a>
    </p>
</div>
