<form class="form-horizontal" method="post">
  <fieldset>
    <legend>Sign In</legend>
    <div class="control-group">
      <label class="control-label" for="mail">Mail Address</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="mail" name="mail">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Sign In</button>
        <p class="help-inline"><a href="/forget">Forget?</a></p>
    </div>
  </fieldset>
</form>
