<div id="stigmod-pg-user-settings">
  <div class="row">
    <!-- 左侧栏 -->
    <div class="col-xs-6 stigmod-settings-right">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-users"></span> Inherited Creation (recommended)</div>
        <div class="panel-body">
          <p>Base your model on an existing Collective Concept Model, and build your model with the help of Stigmergic-Modeling's powerful element recommendation function.</p>
          <hr />
          <form method="post">
            <dl>
              <dt>Collective Concept Model</dt>
              <dd><input type="text" class="stigmod-input stigmod-input-lg" name="name" /></dd>
            </dl>
            <!--<dl>-->
              <!--<dt>Name</dt>-->
              <!--<dd><input type="text" class="stigmod-input stigmod-input-lg" name="name" /></dd>-->
            <!--</dl>-->
            <!--<dl>-->
              <!--<dt>Description</dt>-->
              <!--<dd>-->
                <!--<textarea type="text" class="stigmod-input stigmod-textarea" name="description"></textarea>-->
              <!--</dd>-->
            <!--</dl>-->
            <button type="submit" class="btn btn-success disabled" id="stigmod-update-pf-btn">Search</button>
          </form>
        </div>
      </div>
    </div>
    <!-- 右侧栏 -->
    <div class="col-xs-6 stigmod-settings-right">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-user"></span> Clean Creation</div>
        <div class="panel-body">
          <p>Create a new model that does not based on any existing Collective Concept Model. (Would automatically create a new CCM and base your model on it.)</p>
          <hr />
          <form method="post">
            <dl>
              <dt>Name</dt>
              <dd><input type="text" class="stigmod-input stigmod-input-lg" name="name" /></dd>
            </dl>
            <dl>
              <dt>Description</dt>
              <dd>
                <textarea type="text" class="stigmod-input stigmod-textarea" name="description"></textarea>
              </dd>
            </dl>
            <button type="submit" class="btn btn-success" id="stigmod-update-pf-btn">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="/src/js/sea/sea.js"></script>
<script>
  seajs.config({
    paths: {
      'js': 'http://localhost:3000/src/js'
    }
  });
  seajs.use('js/app/index');
</script>