
<hr />
<div class="panel panel-default" id="stigmod-panel-signup">
  <div class="panel-heading">
    <h2 class="panel-title">Set a new password</h2>
  </div>
  <div class="panel-body">
    <form method="post" role="form">
      <div class="form-group">
        <label for="password">Your New Password</label>
        <input type="password" class="form-control" required id="password" name="password" />
      </div>
      <div class="form-group">
        <label for="password-repeat">Repeat Your New Password</label>
        <input type="password" class="form-control" required id="password-repeat" name="password-repeat" />
      </div>
      <button class="btn btn-success" type="submit">Confirm</button>
    </form>
  </div>
</div>

<script src="/src/js/sea/sea.js"></script>
<script>
  seajs.config({
    paths: {
      'js': 'http://<%= host %>:<%= port %>/src/js'
    }
  });
  seajs.use('js/app/index');
</script>

