<form class="form-horizontal" method="post">
    <fieldset>
        <legend>Give a new Password</legend>
        <div class="control-group">
            <label class="control-label" for="password">New Password</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password">
                <p class="help-inline">No less than 6 and no more than 40 characters</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password-repeat">Repeat Password</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password-repeat" name="password-repeat">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </fieldset>
</form>
