

<div class="row">
    <div class="col-xs-2">
        <%- partial('home-nav-list') %>
    </div>
    <div class="col-xs-10">
        <div>
            <input type="text" class="span7" name="searchCD">
            <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> Search</button>
            <!--a href="/reset" class="btn btn-danger" style="margin-left:100px">Reset[ForTest]</a-->
        </div>
        <div id="home-content" class="span10">
            <!--very important part-->
        </div>
    </div>
</div>

<script src="/javascripts/jquery.js"></script>


<!--<script src="/javascripts/user-home.js"></script>-->
<script>
    window.onload = function(){
        //$('.breadcrumb').append('<li class="active">Home</li>');
        //homeContentClean();
        user = "<%=user.mail%>";
        $.ajax({
            url: '/post/data/index',
            type: 'post',
            data: {
                    user: user
            },
            dataType: 'json',
            async: true,
            success: function(doc){
                icd_index = doc.icd_index;
                ccd_index = doc.ccd_index;
                $(".<%=active%>").trigger("click");
            }
        });
    };
</script>