<ul class="breadcrumb">
</ul>

<div class="row-fluid">
    <div class="span2" style="min-width:175px;margin-right:-20px">
        <%- partial('home-nav-list') %>
    </div>
    <div class="span10" style="padding-left:15px">
        <div>
            <input type="text" class="span7" name="searchCD" style="margin-bottom: 0px;">
            <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> Search</button>
            <!--a href="/reset" class="btn btn-danger" style="margin-left:100px">Reset[ForTest]</a-->
        </div>
        <div id="home-content" class="span10" style="margin-left:0px">
            <!--very important part-->
        </div>
    </div>
</div>

<script src="/javascripts/user-home.js"></script>
<script>
    window.onload = function(){
        $('.breadcrumb').append('<li class="active">Home</li>');
        homeContentClean();
        user = "<%=user.mail%>";
        $.ajax({
            url: '/post/data/index',
            type: 'post',
            data: {
                    user: user
            },
            dataType: 'json',
            async: true,
            success: function(doc){
                icd_index = doc.icd_index;
                ccd_index = doc.ccd_index;
                $(".<%=active%>").trigger("click");
            }
        });
    };
</script>