<div id="stigmod-pg-user-settings">
  <div class="row">
    <!-- 左侧信息栏 -->
    <div class="col-xs-3" id="stigmod-settings-left">
      <div class="panel panel-default">
        <div class="panel-heading">Personal Settings</div>
        <div class="list-group">
          <a class="list-group-item stigmod-cursor-pointer active">Profile</a>
          <a class="list-group-item stigmod-cursor-pointer">Account settings</a>
          <a class="list-group-item stigmod-cursor-pointer">Model settings</a>
        </div>
      </div>
    </div>
    <!-- 右侧Project栏 -->
    <div class="col-xs-9 stigmod-settings-right">
      <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="row stigmod-settings-left-inner">
          <div class="col-xs-8">
            <!--<dl>-->
              <!--<dt>Profile picture</dt>-->
              <!--<dd></dd>-->
            <!--</dl>-->
            <dl>
              <dt>Profile picture</dt>
              <dd><input type="text" class="stigmod-input stigmod-input-lg stigmod-pf-avatar" /></dd>
            </dl>
            <dl>
              <dt>Name</dt>
              <dd><input type="text" class="stigmod-input stigmod-input-lg stigmod-pf-name" /></dd>
            </dl>
            <dl>
              <dt>Email</dt>
              <dd><input type="text" class="stigmod-input stigmod-input-lg stigmod-pf-email" disabled /></dd>
            </dl>
            <dl>
              <dt>Location</dt>
              <dd><input type="text" class="stigmod-input stigmod-input-lg stigmod-pf-location" /></dd>
            </dl>
            <dl>
              <dt>URL</dt>
              <dd><input type="text" class="stigmod-input stigmod-input-lg stigmod-pf-url" /></dd>
            </dl>
            <button type="button" class="btn btn-success">Update profile</button>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="/src/js/sea/sea.js"></script>
<script>
  seajs.config({
    paths: {
      'js': 'http://localhost:3000/src/js'
    }
  });
  seajs.use('js/app/user_settings.js');
</script>