@media (min-width: 1200px) {
    .span6-compact {
        width: 600px;
        float: left;
        margin-left: 12px;

    }

    .span3-compact {
        width: 275px;
        float: left;
        margin-left: 12px;
    }

    .span1-compact {
        width: 130px;
        float: left;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 8px;
    }
}

.bs-docs-sidenav .icon-remove-sign-right {
    background-position: -48px -96px;

    float: right;
    margin-top: 2px;
    margin-right: 6px;
    opacity: .25;
}

.form-horizontal .controls-small {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 80px;
    *margin-left: 0;
}

.form-horizontal .controls-text-small {
    margin-left: 80px;
    padding-top: 5px;
}

.form-horizontal .control-label-middle {
    float: left;

    width: 65px;
    padding-top: 5px;
    margin-left: -20px;
    text-align: right;
}

.form-horizontal .controls-text-middle {
    margin-left: 70px;
    padding-top: 5px;
}

.form-horizontal .corner-label-left {
    float: left;
    width: 60px;
    padding: 0px 5px 5px 5px;
    margin-bottom: 0;
    text-align: left;

    height:15px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    -webkit-border-radius: 2px;

    font-weight: bold;
}

.sub-option input[type=checkbox]{
    margin-top: 0px;
}

/* table */
.table-relation {
    border: 1px solid #eeeeee;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-relation th,
.table-relation td {
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}
.table-relation td{
    width: 200px;
}

.table-relation tbody tr>td:first-child{
    width: 58px;
    text-align: right;
    padding-right: 10px;
    padding-left: 0px;
}
.table-relation label.radio{
    padding-top: 0px;
}

.table-attribute-property {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0px;
}

.table-attribute-property th,
.table-attribute-property td {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.table-attribute-property td{
    padding-left: 20px;
    width: 160px;
}

.table-attribute-property tbody tr>td:first-child{
    width: 60px;
    text-align: right;
    padding-right: 20px;
    padding-left: 0px;
}
.table-attribute-property label.radio{
    padding-top: 0px;
}

.table-attribute-property .fixed td{
    background-color: #eeeeee;
}


input[type="text"].miniInput{
    min-height:18px;
    height:18px;
    padding-top:0px;
    padding-bottom:0px;
    background-color: #f7f7f7;
    width: 150px;
    display: inline;
}

.relationTypeTitle{
    margin-left: 0;
    display: inline;
    color: #0088cc;
    width: 420px
}

hr{
    border-top : 1px solid #e5e5e5;
}

#modal-attribute-add-multi  .table-attribute-property tr.fixed input{
    disabled: true;
}


/* 标题部分 标点的提示 */
.round{width:20px;height:20px;display:inline-block;font-size:25px;line-heigth:16px;text-align:right;color:#E83015;text-decoration:none;padding-top: 6px;}

/*标题部分 此处部分用于底色变化的改写 */
.recommend-attribute.active{
    color: #ffffff;
    background-color: #0088cc;
}
.recommend-relationType.active{
    background-color: #0088cc;
}
.recommend-relationType.active .span3{
    color: #ffffff;
}
.accordion-group.active{border: 1px solid #0088cc}
/* 框线提示
.recommend-element.active{border:1px dotted #0088cc}
*/

/*此处部分用于底色变化的改写 */
.recommend-element.active{color: #ffffff;background-color: #0088cc;}
.recommend-attribute.active .icon-edit{background-image: url("../img/glyphicons-halflings-white.png")}
.recommend-attribute.active .icon-trash{background-image: url("../img/glyphicons-halflings-white.png")}
.recommend-attribute.active .icon-zoom-in{background-image: url("../img/glyphicons-halflings-white.png")}
.recommend-attribute.active .icon-plus-sign{background-image: url("../img/glyphicons-halflings-white.png")}
.recommend-attribute.active .icon-plus{background-image: url("../img/glyphicons-halflings-white.png")}
.recommend-attribute.active .icon-arrow-up{background-image: url("../img/glyphicons-halflings-white.png")}
.recommend-attribute.active .icon-arrow-down{background-image: url("../img/glyphicons-halflings-white.png")}





