#parse ("header.vm")

<div class="row">

    <!-- 左侧导航栏 -->
    <div class="col-xs-12 text-center">
        <form action="" method="post" class="text-center">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            #if (!$ops)
                <textarea name="ops" class="stigmod-input stigmod-textarea" style="height:500px;max-height:1000px;"></textarea>
            #else
                <textarea name="ops" class="stigmod-input stigmod-textarea" style="height:500px;max-height:1000px;">$ops</textarea>
            #end
            <br/>
            <button type="submit" class="btn btn-large btn-primary">Execute Operations</button>
        </form>
    </div>

</div>



#set ($jsFile = "index")
#parse ("footer.vm")