<script src="/static/dist/js/sea/sea.js"></script>
<script>
    seajs.config({
        paths: {
            'js': 'http://${host}:${port}/static/dist/js'
        }
    });
    seajs.use('js/app/${jsFile}');
</script>

<hr class="stigmod-hr-narrow stigmod-hide-when-full-screen" />
<footer class="stigmod-hide-when-full-screen">
    <p class="text-center stigmod-gray stigmod-websitefooter">&copy; 2015 Peking University</p>
</footer>
</div>

<!-- 弹出框 -->
##<% include modals.ejs %>

</body>
</html>