<script src="/static/dist/js/sea/sea.js"></script>
<script>
    #if (${data})
        var dataPassedIn = ${data};  // 获取后端模板传来的参数 data
    #end

//    var dataPassedIn = {};

    seajs.config({
        paths: {
            'js': 'http://${host}:${port}/static/dist/js'
        }
    });
    seajs.use('js/app/${jsFile}');
</script>

<hr class="stigmod-hr-narrow stigmod-hide-when-full-screen" />
<footer class="stigmod-hide-when-full-screen">
    <p class="text-center stigmod-gray stigmod-websitefooter">&copy; $date.get('yyyy') Peking University</p>
</footer>
</div>

<!-- 弹出框 -->
##<% include modals.ejs %>

</body>
</html>