#parse ("header.vm")

<hr />
<div class="panel panel-default" id="stigmod-panel-signup">
    <div class="panel-heading">
        <h2 class="panel-title">Forget password</h2>
    </div>
    <div class="panel-body">
        <form method="post" role="form">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="form-group">
                <label for="email">Your Email Address</label>
                <input type="email" class="form-control" required autofocus id="email" name="mail" />
            </div>
            <button class="btn btn-default" type="submit">Send</button>
        </form>
    </div>
</div>

#set ($jsFile = "index")
#parse ("footer.vm")