#parse ("header.vm")

<div id="stigmod-help" class="row">

    <!-- 左侧导航栏 -->
    <div class="col-xs-10 text-center">
        <h2 id="top" class="stigmod-help-title">Stigmergic-Modeling 使用帮助</h2>
        <p class="stigmod-gray">本页面中图片较多，可能导致加载较慢，请耐心等待 </p>

        <!-- 专题 -->
        <hr/>
        <h3 id="create-model" class="stigmod-help-title">创建模型项目</h3>
        <hr />
        <h4 id="user-page" class="stigmod-help-title">用户页面</h4>
        <img src="/static/dist/img/help/user_page.png" class="img-responsive" />
        <hr />
        <h4 id="create-model-start" class="stigmod-help-title">创建模型</h4>
        <img src="/static/dist/img/help/create_model.png" class="img-responsive" />
        <hr />
        <h4 id="create-model-inherated" class="stigmod-help-title">继承创建</h4>
        <img src="/static/dist/img/help/create_model_inherated.png" class="img-responsive" />
        <hr />
        <h4 id="create-model-clean" class="stigmod-help-title">全新创建</h4>
        <img src="/static/dist/img/help/create_model_clean.png" class="img-responsive" />

        <!-- 专题 -->
        <hr/>
        <h3 id="workspace-intro" class="stigmod-help-title">熟悉建模工作台</h3>
        <hr />
        <h4 id="workspace-page" class="stigmod-help-title">建模工作台页面</h4>
        <img src="/static/dist/img/help/workspace_page.png" class="img-responsive" />
        <hr />
        <h4 id="workspace-page-structure" class="stigmod-help-title">建模工作台页面结构</h4>
        <img src="/static/dist/img/help/workspace_page_structure.png" class="img-responsive" />
        <hr />
        <h4 id="workspace-page-modelview" class="stigmod-help-title">模型可视化</h4>
        <img src="/static/dist/img/help/workspace_page_modelview.png" class="img-responsive" />
        <hr />
        <h4 id="workspace-page-modelinfo" class="stigmod-help-title">模型信息</h4>
        <img src="/static/dist/img/help/workspace_page_modelinfo.png" class="img-responsive" />

        <!-- 专题 -->
        <hr/>
        <h3 id="add-element" class="stigmod-help-title">添加模型元素</h3>
        <hr />
        <h4 id="add-class" class="stigmod-help-title">添加类</h4>
        <img src="/static/dist/img/help/add_class_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/add_class_1.png" class="img-responsive" />
        <hr />
        <h4 id="add-attribute" class="stigmod-help-title">添加类的属性</h4>
        <img src="/static/dist/img/help/add_attribute_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/add_attribute_1.png" class="img-responsive" />
        <img src="/static/dist/img/help/add_attribute_2.png" class="img-responsive" />
        <hr />
        <h4 id="add-relationship" class="stigmod-help-title">添加关系组及关系</h4>
        <img src="/static/dist/img/help/add_relationship_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/add_relationship_1.png" class="img-responsive" />
        <img src="/static/dist/img/help/add_relationship_2.png" class="img-responsive" />

        <!-- 专题 -->
        <hr/>
        <h3 id="modify-element" class="stigmod-help-title">修改模型元素</h3>
        <hr />
        <h4 id="modify-class" class="stigmod-help-title">修改类</h4>
        <img src="/static/dist/img/help/modify_class_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/modify_class_1.png" class="img-responsive" />
        <img src="/static/dist/img/help/modify_class_2.png" class="img-responsive" />
        <hr />
        <h4 id="modify-attribute" class="stigmod-help-title">修改类的属性</h4>
        <img src="/static/dist/img/help/modify_attribute_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/modify_attribute_1.png" class="img-responsive" />
        <img src="/static/dist/img/help/modify_attribute_2.png" class="img-responsive" />
        <hr />
        <h4 id="modify-relationship" class="stigmod-help-title">修改关系</h4>
        <img src="/static/dist/img/help/modify_relationship_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/modify_relationship_1.png" class="img-responsive" />
        <img src="/static/dist/img/help/modify_relationship_2.png" class="img-responsive" />
        <hr />
        <h4 id="modify-order" class="stigmod-help-title">修改属性的顺序</h4>
        <img src="/static/dist/img/help/modify_order_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/modify_order_1.png" class="img-responsive" />

        <!-- 专题 -->
        <hr/>
        <h3 id="remove-element" class="stigmod-help-title">删除模型元素</h3>
        <hr />
        <h4 id="remove-class" class="stigmod-help-title">删除类</h4>
        <img src="/static/dist/img/help/remove_class_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/remove_class_1.png" class="img-responsive" />
        <hr />
        <h4 id="remove-attribute" class="stigmod-help-title">删除类的属性</h4>
        <img src="/static/dist/img/help/remove_attribute_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/remove_attribute_1.png" class="img-responsive" />
        <hr />
        <h4 id="remove-relationship" class="stigmod-help-title">删除关系组及关系</h4>
        <img src="/static/dist/img/help/remove_relationship_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/remove_relationship_1.png" class="img-responsive" />

        <!-- 专题 -->
        <hr/>
        <h3 id="global-recommendation" class="stigmod-help-title">获取全局推荐</h3>
        <hr />
        <h4 id="global-recommendation-class" class="stigmod-help-title">类的全局推荐</h4>
        <img src="/static/dist/img/help/global_recommendation_class_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/global_recommendation_class_1.png" class="img-responsive" />
        <hr />
        <h4 id="global-recommendation-relationship" class="stigmod-help-title">关系的全局推荐</h4>
        <img src="/static/dist/img/help/global_recommendation_relationship_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/global_recommendation_relationship_1.png" class="img-responsive" />

        <!-- 专题 -->
        <hr/>
        <h3 id="local-recommendation" class="stigmod-help-title">获取局部推荐</h3>
        <hr />
        <h4 id="local-recommendation-class" class="stigmod-help-title">类的局部推荐</h4>
        <img src="/static/dist/img/help/local_recommendation_class_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/local_recommendation_class_1.png" class="img-responsive" />
        <hr />
        <h4 id="local-recommendation-attribute" class="stigmod-help-title">属性的局部推荐</h4>
        <img src="/static/dist/img/help/local_recommendation_attribute_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/local_recommendation_attribute_1.png" class="img-responsive" />
        <img src="/static/dist/img/help/local_recommendation_attribute_2.png" class="img-responsive" />
        <hr />
        <h4 id="local-recommendation-relationship" class="stigmod-help-title">关系的局部推荐</h4>
        <img src="/static/dist/img/help/local_recommendation_relationship_0.png" class="img-responsive" />
        <img src="/static/dist/img/help/local_recommendation_relationship_1.png" class="img-responsive" />
        <img src="/static/dist/img/help/local_recommendation_relationship_2.png" class="img-responsive" />

    </div>

    <!-- 右侧导航栏 -->
    <div class="col-xs-2">
        <div id="stigmod-navbar" class="affix">
            <ul class="nav stigmod-sidenav">
                <li class="">
                    <a href="#create-model" class="">创建模型项目</a>
                    <ul class="nav">
                        <li class=""><a href="#user-page">用户页面</a></li>
                        <li class=""><a href="#create-model-start">创建模型</a></li>
                        <li class=""><a href="#create-model-inherated">继承创建</a></li>
                        <li class=""><a href="#create-model-clean">全新创建</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#workspace-intro" class="">熟悉建模工作台</a>
                    <ul class="nav">
                        <li class=""><a href="#workspace-page">建模工作台页面</a></li>
                        <li class=""><a href="#workspace-page-structure">建模工作台结构</a></li>
                        <li class=""><a href="#workspace-page-modelview">模型可视化</a></li>
                        <li class=""><a href="#workspace-page-modelinfo">模型信息</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#add-element">添加模型元素</a>
                    <ul class="nav">
                        <li class=""><a href="#add-class">添加类</a></li>
                        <li class=""><a href="#add-attribute">添加类的属性</a></li>
                        <li class=""><a href="#add-relationship">添加关系组及关系</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#modify-element">修改模型元素</a>
                    <ul class="nav">
                        <li class=""><a href="#modify-class">修改类</a></li>
                        <li class=""><a href="#modify-attribute">修改类的属性</a></li>
                        <li class=""><a href="#modify-relationship">修改关系组及关系</a></li>
                        <li class=""><a href="#modify-order">修改属性的排列顺序</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#remove-element">删除模型元素</a>
                    <ul class="nav">
                        <li class=""><a href="#remove-class">删除类</a></li>
                        <li class=""><a href="#remove-attribute">删除类的属性</a></li>
                        <li class=""><a href="#remove-relationship">删除关系组及关系</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#global-recommendation">获取全局推荐</a>
                    <ul class="nav">
                        <li class=""><a href="#global-recommendation-class">类的全局推荐</a></li>
                        <li class=""><a href="#global-recommendation-relationship">关系的全局推荐</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#local-recommendation">获取局部推荐</a>
                    <ul class="nav">
                        <li class=""><a href="#local-recommendation-class">类的局部推荐</a></li>
                        <li class=""><a href="#local-recommendation-attribute">属性的局部推荐</a></li>
                        <li class=""><a href="#local-recommendation-relationship">关系的局部推荐</a></li>
                    </ul>
                </li>

                <a class="back-to-top" href="#top">返回顶部</a>
            </ul>
        </div>
    </div>

</div>



#set ($jsFile = "help")
#parse ("footer.vm")