#parse ("header.vm")

<div id="stigmod-pg-newmodel">
    <div class="row">
        <!-- 左侧栏 -->
        <div class="col-xs-2 stigmod-settings-right" id="sigmod-newmodel-left-side"></div>
        <div class="col-xs-4 stigmod-settings-right stigmod-cursor-pointer" id="sigmod-newmodel-left">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="fa fa-users"></span><span class="stigmod-hide-when-clk-right"> Inherited Creation (recommened)</span></div>
                <div class="panel-body stigmod-hide-when-clk-right">
                    <p>Base your model on an existing Collective Concept Model, and build your model with the help of Stigmergic-Modeling's powerful element recommendation function.</p>
                    <div id="stigmod-newmodel-left-inner">
                        <hr />
                        <form action="/newmodel/inherited" method="post">
                            <dl>
                                <dt>Collective Concept Model</dt>
                                <dd>
                                    <select type="text" class="stigmod-input stigmod-input-lg" name="ccm" >
                                        <option disabled selected> -- Select a CCM -- </option> <!-- 巧妙的设计 -->
                                    </select>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Name</dt>
                                <dd><input type="text" class="stigmod-input stigmod-input-lg" name="name" /></dd>
                            </dl>
                            <dl>
                                <dt>Description</dt>
                                <dd>
                                    <textarea type="text" class="stigmod-input stigmod-textarea" name="description"></textarea>
                                </dd>
                            </dl>
                            <button type="submit" class="btn btn-success">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右侧栏 -->
        <div class="col-xs-4 stigmod-settings-right stigmod-cursor-pointer" id="sigmod-newmodel-right">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="fa fa-user"></span><span class="stigmod-hide-when-clk-left"> Clean Creation</span></div>
                <div class="panel-body stigmod-hide-when-clk-left">
                    <p>Create a new model that does not based on any existing Collective Concept Model. (Would automatically create a new CCM and base your model on it.)</p>
                    <div id="stigmod-newmodel-right-inner">
                        <hr />
                        <form action="/newmodel/clean" method="post">
                            <dl>
                                <dt>Name</dt>
                                <dd><input type="text" class="stigmod-input stigmod-input-lg" name="name" /></dd>
                            </dl>
                            <dl>
                                <dt>Description</dt>
                                <dd>
                                    <textarea type="text" class="stigmod-input stigmod-textarea" name="description"></textarea>
                                </dd>
                            </dl>
                            <button type="submit" class="btn btn-default" id="stigmod-update-pf-btn">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 stigmod-settings-right" id="sigmod-newmodel-right-side"></div>
    </div>
</div>


#set ($jsFile = "new_model")
#parse ("footer.vm")