<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="net.stigmod">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:spring-configured/>
    <tx:annotation-driven mode="proxy"/>

    <!--&lt;!&ndash; 以下为了邮件发送功能 &ndash;&gt;-->
    <!--<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">-->
        <!--<property name="host" value="smtp.sina.com" />-->
        <!--<property name="port" value="25" />-->
        <!--&lt;!&ndash;<property name="username" value="stigmod" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="password" value="seidr1726" />&ndash;&gt;-->
        <!--<xi:include href="emailAccount.xml" parse="xml" xpointer="xpointer(//property[@name='username'])"/>-->
        <!--<xi:include href="emailAccount.xml" parse="xml" xpointer="xpointer(//property[@name='password'])"/>-->
        <!--<property name="javaMailProperties">-->
            <!--<props>-->
                <!--<prop key="mail.transport.protocol">smtp</prop>-->
                <!--<prop key="mail.smtp.auth">true</prop>-->
                <!--<prop key="mail.debug">false</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean id="registrationService" class="net.stigmod.service.SimpleRegistrationService">-->
        <!--<property name="mailSender" ref="mailSender"/>-->
    <!--</bean>-->

</beans>
